.nav{
   background-color: rgb(136, 135, 135);

   border-radius: 20px;
   justify-content: center;
   
}

.nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
    }
    

.item .navlink{
    display: flex;
    text-decoration: none; 
    font-weight: 500;
    font-style: italic;
    color: black;
}

.item .navlink:hover{
    color: bisque;
}

li{
    list-style-type: none;
   
}
.h3{
    font-size: 70px;
    font-family: cursive;
    font-weight: 500;
}

.nav-icon {
    /* display: none; */
    }


@media (max-width:"1100px") {
    .nav{
        display: block;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 70%;
        border-top: 1pxsolid #fff;
        position: absolute;
        top: 0px;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;
        font-size: small;
        /* height: 550px; */
      }
      
      .nav-menu.active {
        background: #222020;
        left: 0px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
      }

      .nav-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: #ffdd40;
      }
}